.mission__modal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem;
}

.mission__modal_img>img {
  max-width: 100%;
  min-width: 100%;
}

.mission__modal_details {
  font-size: 1.5rem;
  align-self: center;
}

.mission__modal_title {
  text-transform: uppercase;
}

.mission__modal_details-item>dt {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 0px;
  margin-bottom: 8px;
  border-bottom: 1px solid #555;
  padding-top: 2rem;
}

.mission__modal_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

.mission__modal_close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.u-hide-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.u-lock-scroll {
  overflow: hidden !important;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  min-height: 300px;
  margin: 1rem;
  position: relative;
  min-width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-self: center;
}
