.missions {
  display: grid;
  grid-column: center-start / center-end;
  margin: 15rem;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 7rem;
}

@media only screen and (max-width: 40em) {
  .missions {
    margin: 15rem 2rem;
  }
}

.mission {
  display: grid;
  background-color: #fff;
  max-width: 60rem;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
}

.mission:hover,
.mission:active,
.mission:focus-within {
  background-color: #fff;
  border-color: #ccac55;
  border-style: solid;
}

.mission__img {
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  z-index: 1;
}

.mission__name {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: end;
  z-index: 3;
  width: 80%;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #181c1f;
  color: #fff;
  font-weight: 400;
  transform: translateY(50%);
}

.mission__details {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: start;
  width: 80%;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  padding: 1.25rem;
  display: flex;
  text-transform: none;
  color: #3a3a3a;
}

.mission__cardDetailItem {
  justify-self: center;
  height: 5rem;
  width: 100%;
  margin: 0;
  font-size: 1.5rem;
}

.mission__cardDetailItem>img {
  margin-right: 0.7rem;
  height: 2.5rem;
}

.btn {
  background-color: #21272b;
  color: #cccccc;
  border: none;
  border-radius: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #1e2326;
}

.mission__btn {
  grid-column: 1 / -1;
}
