@import '../../styles/base.scss';

.App {
  text-align: center;
}

.inputSearch {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid $dark-text;
  border-radius: 4px;
}

.resetButton {
  margin: 8px;
  background-color: $yellow;
}
